{{#operacao}}
package {{packageName}};

import java.io.Serializable;
import javax.xml.bind.annotation.XmlAccessType;
import javax.xml.bind.annotation.XmlAccessorType;
import javax.xml.bind.annotation.XmlElement;

/**
 * @author {{AUTOR}}
 * @version {{VERSION}}
 */
@XmlAccessorType(XmlAccessType.FIELD)
public class {{entrada}} implements Serializable {

    

}
{{/operacao}}
